{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="{% static 'calculator/js/basic_operations.js' %}"></script>
    <title>Web Calculator</title>
</head>
<body>

    <h1>Web calculator</h1>
    <input type="text" id="number1" size="5" />
    <select id="operations">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" id="number2" size="5" />
    <button id="button">Výsledok</button>
    <h2>Výsledok: <span id="result-text">0</span></h2>

</body>
</html>