body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c9c9cb;
}

.inputs {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.memory_controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.memory-controls button {
    flex: 1;
    font-size: 0.8em;
}

.memory_buttons {
    border: none;
    background-color: #c9c9cb;
}

.memory_buttons:hover {
    background-color: #a8a8aa;
}

.result_button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.result_button:hover {
    background-color: #218838;
}

.result-text {
    font-weight: bold;
    color: #04468e;
}
